@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button href="/Identity/Account/Register">register</button>
    <button href="/Identity/Account/Login">login</button>

   <a class="btn alert-success" href="/Categories">Afisare categorie</a>
   <a class="btn alert-success" href="/Threads">Afisare thread</a>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Inregistrare</a>
</div>
