@*model ArticlesApp.Models.Reply
@{
    ViewBag.Title = "Afisare reply";
}


<h2>@ViewBag.Title</h2>

<br />

<p>@Model.Content</p>


<form method="post" action="/Replies/Delete/@Model.IdReply">

    <button class="btn btn-danger" type="submit">Sterge reply-ul</button>

</form>
<br />
<a class="btn alert-success" href="/Replies/Index/">Afisare lista reply-uri</a>

<br />
<hr />
<br />*@