


<div class="card-body">


    <div class="card-text">adsadada</div>

    <div class="d-flex justify-content-between flex-row mt-5">

        @*<div><i class="bi bi-globe"></i> @Model.Category.CategoryName</div>*@

        <span class="alert-success">1 mai</span>

    </div>

</div>


