
@{
    ViewBag.Title = "Lista categorii";
}

<h2>@ViewBag.Title</h2>
<br />  

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<br />
<a class="btn btn-success" href="/Categories/New">Adauga o noua categorie</a>
<br />

<br />
@foreach (var category in ViewBag.Categories)
{
    //@Html.Label("CategoryName", "Denumire categorie")
    <p>@category.CategoryName</p>
    <a class="btn alert-success" href="/Categories/Show/@category.IdCategory">Afisare categorie</a>
    <a class="btn alert-success" href="/Categories/Edit/@category.IdCategory">Editare categorie</a>
    <br />
    <br />
    <br />
}

