@{
    ViewData["Title"] = "Home Page";
}
<a class="btn btn-success" href="/GiftCards/Index">Afisare GiftCards</a>
<br />
<br />
 <a  class="btn btn-success"href="/GiftCards/New">Adaugare GiftCard</a>
<br />
<br />
<a  class="btn btn-success"href="/GiftCards/CautareCarduri">Cautare GiftCard</a>
<p>Am incercat sa pun aici linkul pentru pagina de cautare dar primeam no data found, asa ca, l-am pus in index</p>

<br />
<br />
 <a class="btn btn-success" href="/Brands/Index">Afisare Branduri</a>
 

